# Code coverage output file
coverage-all.out

# Distribution directory for binaries
dist/

# Generated binaries
guacinator

# Generated directories
builds/

# Generated logs
*.log

# Custom attributes files created by macOS
.DS_Store
.secrets

# Taskfiles
*.task
